<!-- LIST VIEW -->
<table class="simple list-view">
    <thead>
        <tr >
            
            <th hide show-gt-sm >
				<a href="#" ng-click="sortType = 'symbol' ; sortReverse = !sortReverse">
		            <span  translate="BS.ASSET_NAME"></span> 
		            <span ng-show="sortType == 'symbol' && !sortReverse" class="fa fa-caret-down">^</span>
        			<span ng-show="sortType == 'symbol' && sortReverse" class="fa fa-caret-up">v</span>
		        </a>
			</th>
            <th hide-xs >
				<a href="#" ng-click="sortType = 'quantity' ; sortReverse = !sortReverse">
		            <span  translate="BS.ASSET_QUANTITY"></span> 
		            <span ng-show="sortType == 'quantity' && !sortReverse" class="fa fa-caret-down">^</span>
        			<span ng-show="sortType == 'quantity' && sortReverse" class="fa fa-caret-up">v</span>
		        </a>
			</th>
            <th hide-xs >
				<a href="#" ng-click="sortType = 'meanPrice' ; sortReverse = !sortReverse">
		            <span  translate="BS.MEAN_PRICE"></span> 
		            <span ng-show="sortType == 'meanPrice' && !sortReverse" class="fa fa-caret-down">^</span>
        			<span ng-show="sortType == 'meanPrice' && sortReverse" class="fa fa-caret-up">v</span>
		        </a>
			</th>
			<th hide show-gt-md >
				<a href="#" ng-click="sortType = 'currentPosition' ; sortReverse = !sortReverse">
		            <span  translate="BS.CURRENT_POSITION"></span> 
		            <span ng-show="sortType == 'currentPosition' && !sortReverse" class="fa fa-caret-down">^</span>
        			<span ng-show="sortType == 'currentPosition' && sortReverse" class="fa fa-caret-up">v</span>
		        </a>
			</th>
            <th hide show-gt-md >
				<a href="#" ng-click="sortType = 'target' ; sortReverse = !sortReverse">
		            <span  translate="BS.TARGET_POSITION"></span> 
		            <span ng-show="sortType == 'target' && !sortReverse" class="fa fa-caret-down">^</span>
        			<span ng-show="sortType == 'target' && sortReverse" class="fa fa-caret-up">v</span>
		        </a>
			</th>
            <th hide show-gt-md >
            	<a href="#" ng-click="sortType = 'diff' ; sortReverse = !sortReverse">
		            <span  translate="BS.DIFF"></span> 
		            <span ng-show="sortType == 'diff' && !sortReverse" class="fa fa-caret-down">^</span>
        			<span ng-show="sortType == 'diff' && sortReverse" class="fa fa-caret-up">v</span>
		        </a>
            	
            </th>
            <th></th>
            <th hide-gt-md></th>
        </tr>
    </thead>

    <tbody>
        <tr  ng-repeat="asset in vm.assets | orderBy:sortType:sortReverse" ng-click="vm.select(asset)"
            class="{{ vm.selected === asset?'selected' : '' }} {{vm.lowestAssetValue === asset? 'lowest' : ''}}" >
            
            <td class="name">{{asset.symbol}}</td>
            <td class="type" hide show-gt-sm>{{asset.quantity}}</td>
            <td class="type" hide show-gt-sm>{{asset.meanPrice  | currency}}</td>
            <td class="type" hide show-gt-sm>{{asset.currentPosition | percentage:100}}</td>
            <td class="owner" hide-xs>
            	<md-input-container>
			        <input required  name="target" ng-model="asset.target" ng-change="vm.updateTotalAllocation()" ui-percentage-mask/>
			     </md-input-container>
            </td>
            <td class="size" hide-xs>{{asset.diff | percentage:100}} <span>{{asset.diffValue  | currency}}</span></td>
            <td class="show-details" >
                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleDetails(asset)" aria-label="Toggle details sidenav">
                    <md-icon md-font-icon="icon-information-outline"></md-icon>
                </md-button>
                
                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.showTransactions(asset)" aria-label="Toggle details sidenav">
                    <md-icon md-font-icon="icon-information-outline"></md-icon>
                </md-button>
            </td>
            <td class="file-icon">
                <md-icon md-font-icon="icon-{{asset.type}}"></md-icon>
            </td>
        </tr>
    </tbody>
</table>
<!-- / LIST VIEW -->