<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between start">

    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
            <md-icon md-font-icon="icon-folder" class="icon s24"></md-icon>
        </span>
        <span class="logo-text" translate="BS.PORTFOLIOS">Portifólios</span>
    </div>

    <form name="portfolioForm" class="md-inline-form account" layout="row" novalidate>
    
        <md-input-container flex> 
			<label translate="BS.PORTFOLIO_NAME">Nome</label> 
			<input ng-required name="portfolioName" ng-model="vm.portfolioName">
			<div ng-messages="portfolioForm.portfolioName.$error" role="alert" multiple>
					<div ng-message="required">
						<span>Campo obrigatório</span>
					</div>
				</div>
		</md-input-container>
        <md-button class="md-icon-button launch" type="submit" ng-click="vm.addPortfolio()"
        	ng-disabled="portfolioForm.$invalid || portfolioForm.$pristine">
         	<ng-md-icon icon="add"></md-icon>
        </md-button>
    </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="content">

    <div class="navigation-simple" layout="column">
        <md-button ng-click="vm.selectPortfolio(portfolio)" ng-class="{'portfolio-selected' : vm.selectedPortfolio === portfolio}" ng-repeat="portfolio in vm.portfolios" class="item" aria-label="inbox">
            <div class="context" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-folder" class="s16"></md-icon>
                <div class="title">{{portfolio.name}}</div>
            </div>
        </md-button>

    </div>

</div>
<!-- / SIDENAV CONTENT -->