<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>F</span>
            </div>
            
            <div id="firebaseui-auth-container">
            </div>
			<!-- 
            <div class="title" translate="LOGIN.TITLE">Log in to your account</div>

            <form name="loginForm" novalidate ua-login> 
                <md-input-container class="md-block" md-no-float>
                    <input name="login" ng-model="vm.form.email" placeholder="Email"
                           translate translate-attr-placeholder="LOGIN.EMAIL"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="LOGIN.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="LOGIN.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"
                           translate translate-attr-placeholder="LOGIN.PASSWORD"
                           required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span translate="LOGIN.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <div class="remember-forgot-password" layout="row" layout-xs="column"
                     layout-align="space-between center">
                    <md-checkbox class="remember-me" ng-model="data.cb1" aria-label="Remember Me">
                        <span translate="LOGIN.REMEMBER_ME">Remember Me</span>
                    </md-checkbox>

                    <a ui-sref="app.pages_auth_forgot-password" class="forgot-password md-accent-color"
                       translate="LOGIN.FORGOT_PASSWORD">Forgot Password?</a>
                </div>

                <md-button   ng-show="!loading"  type="submit" class="md-raised md-accent submit-button" aria-label="LOG IN"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine"
                           translate="LOGIN.LOG_IN" translate-attr-aria-label="LOGIN.LOG_IN">
                   
        			
                </md-button>
                
                <md-button  padding ng-show="loading" class="md-raised md-accent submit-button" >
                   
        			<img ng-show="loading" src="https://app.userapp.io/img/ajax-loader-transparent.gif">
                </md-button>

                
            </form>

            <div class="separator">
            	 <p ng-show="error">{{ error.message }}</p>
                 <span class="text" translate="LOGIN.OR">OR</span>
            </div>

           <md-button class="md-raised google" ng-click="vm.loginGoogle()">
                <div layout="row" layout-align="center center">
                <span>
                    <md-icon md-font-icon="icon-google-plus" class="s16"></md-icon>
                    <span translate="LOGIN.WITH_GOOGLE">Log in with Google</span>
                </span>
                </div>
            </md-button>

            <md-button class="md-raised facebook">
                <div layout="row" layout-align="center center">
                <span>
                    <md-icon md-font-icon="icon-facebook" class="s16"></md-icon>
                    <span translate="LOGIN.WITH_FACEBOOK">Log in with Facebook</span>
                </span>
                </div>
            </md-button>
 -->
            <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <span class="text" translate="LOGIN.DONT_HAVE_ACCOUNT">Don't have an account?</span>
                <a class="link" ui-sref="app.pages_auth_register" translate="LOGIN.CREATE_ACCOUNT">Create an account</a>
            </div>
        </div>
    </div>
</div>

 <script type="text/javascript">
   // FirebaseUI config.
   var uiConfig = {
     'signInSuccessUrl': '/management',
     'signInOptions': [
       // Leave the lines as is for the providers you want to offer your users.
       firebase.auth.GoogleAuthProvider.PROVIDER_ID,
       firebase.auth.FacebookAuthProvider.PROVIDER_ID,
       firebase.auth.TwitterAuthProvider.PROVIDER_ID,
       firebase.auth.GithubAuthProvider.PROVIDER_ID,
       firebase.auth.EmailAuthProvider.PROVIDER_ID
     ],
     // Terms of service url.
     'tosUrl': '<your-tos-url>',
   };

   // Initialize the FirebaseUI Widget using Firebase.
   var ui = new firebaseui.auth.AuthUI(firebase.auth());
   // The start method will wait until the DOM is loaded.
   ui.start('#firebaseui-auth-container', uiConfig);
</script>