<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Settings</span>
            </div>

            <div class="title">Profile</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div layout="row">

            <!-- BASIC FORM -->
            <div class="form-wrapper md-whiteframe-1dp" layout-align="center center" flex="100">

                <form name="basicForm" class="md-inline-form" novalidate>

                    <!-- div class="form-title">Optional form title</div-->

                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <input type="text" name="first_name" ng-model="vm.basicForm.first_name"
                                   placeholder="Firstname"
                                   required>
                            <div ng-messages="basicForm.firstname.$error"
                                 role="alert">
                                <div ng-message="required">
                                    <span>Firstname field is required.</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container flex>
                            <input type="text" name="last_name" ng-model="vm.basicForm.last_name" placeholder="Lastname"
                                   required>
                            <div ng-messages="basicForm.lastname.$error"
                                 role="alert">
                                <div ng-message="required">
                                    <span>Lastname field is required.</span>
                                </div>
                            </div>
                        </md-input-container>
                        
                        <md-input-container flex>
                            <input type="email" name="email" ng-model="vm.basicForm.email" placeholder="Email"
                                   required ng-pattern="/^.+@.+\..+$/">
                            <div ng-messages="basicForm.lastname.$error"
                                 role="alert">
                                <div ng-message="required">
                                    <span>Lastname field is required.</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <md-button type="submit" class="md-raised md-accent" ng-click="vm.sendForm()" aria-label="Submit"
                               ng-disabled="basicForm.$invalid || basicForm.$pristine">
                        Submit
                    </md-button>
                </form>

            </div>
            <!-- / BASIC FORM -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>