<!-- SIDENAV HEADER -->
<div class="header md-accent-bg" layout="column"
	layout-align="space-between">
	<div class="toolbar" layout="row" layout-align="end center">
		<md-button class="md-icon-button" ng-click="vm.delete()"
			aria-label="Delete" translate translate-attr-aria-label="FM.DELETE">
		<md-icon md-font-icon="icon-delete"></md-icon> <md-tooltip>
		<span translate="FM.DELETE">Delete</span></md-tooltip> </md-button>

		<md-button class="md-icon-button" aria-label="Download" translate
			translate-attr-aria-label="FM.DOWNLOAD"> <md-icon
			md-font-icon="icon-download"></md-icon> <md-tooltip> <span
			translate="FM.DOWNLOAD">Download</span></md-tooltip> </md-button>

		<md-button class="md-icon-button" aria-label="More" translate
			translate-attr-aria-label="FM.MORE"> <md-icon
			md-font-icon="icon-dots-vertical"></md-icon> <md-tooltip>
		<span translate="FM.MORE">More</span></md-tooltip> </md-button>
	</div>

	<div>
		<div class="title">{{vm.selected.name}}</div>
		<!-- <div class="subtitle secondary-text">
			<span translate="FM.EDITED">Edited</span>: {{vm.selected.modified}}
		</div>  -->
	</div>
</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" flex ms-scroll>

<div class="file-details">
	<div class="preview file-icon" layout="row"
		layout-align="center center">
		<i class="icon-{{vm.selected.type}} s48"></i>
	</div>


	<div class="title" translate="FM.INFO">Info</div>

	<div class="form-wrapper md-whiteframe-1dp">

		<form name="transactionForm" class="md-inline-form" novalidate>



			<div layout="column" >
				<div flex> 
					<md-autocomplete  required
						md-no-cache="false"
						md-selected-item="vm.selectedSymbol"
						md-search-text-change="vm.searchTextChange(vm.searchText)"
						md-search-text="vm.searchText"
						md-selected-item-change="vm.selectedItemChange(item)"
						md-items="item in vm.querySearch(vm.searchText)"
						md-item-text="item.symbol" md-min-length="2"
						placeholder="Ativo"> 
						<md-item-template>
							<b><span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.symbol}}</span></b>
							<span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name}}</span>
						</md-item-template> 
						<md-not-found> No quotes matching
							"{{vm.searchText}}" 
							 
						</md-not-found> 
					</md-autocomplete> 
				</div>
				
					<md-datepicker required  ng-required ng-model="vm.transaction.date" name="date" md-placeholder="Enter date">
					</md-datepicker>
					<div class="validation-messages" ng-messages="transactionForm.date.$error" role="alert">
				        <div ng-message="valid">The entered value is not a date!</div>
				        <div ng-message="required">This date is required!</div>
				    </div>			
					
			
				
				<md-input-container flex> 
					<input type="text"
						name="quantity" ng-model="vm.transaction.quantity" ui-number-mask
						placeholder="Quantidade" required>
				<div ng-messages="transactionForm.quantity.$error" role="alert">
					<div ng-message="required">
						<span>Quantity required.</span>
					</div>
				</div>
				</md-input-container>
				
				<md-input-container flex> 
					<label>Preço </label> 
					<input name="price" ng-model="vm.transaction.price" required ui-money-mask>
				<div ng-messages="transactionForm.price.$error" role="alert" multiple>
					<div ng-message="md-maxlength">
						<span>Postal code can't be longer than 5 characters.</span>
					</div>
				</div>
				</md-input-container>
			</div>

			<div layout="row" layout-align="center center">
				
				<md-button ng-click="vm.buyAsset(transactionForm)" type="submit" class="md-raised md-primary md-hue-1"
					aria-label="Submit"
					ng-disabled="transactionForm.$invalid || transactionForm.$pristine" >
					 Comprar
				</md-button>
				<md-button ng-click="vm.sellAsset(transactionForm)" type="submit"  class="md-raised md-warn"
					aria-label="Submit"
					ng-disabled="transactionForm.$invalid || transactionForm.$pristine" >
					 Vender
				</md-button>
			</div>
		</form>

	</div>
</div>

</md-content>
<!-- / SIDENAV CONTENT -->